<section class="container max-w-3xl mx-auto my-16">
  <h1 class="text-3xl font-bold">Onboarding - <%= @step.title %></h1>

  <ul class="w-full mt-8 mb-16 steps">
    <%= for step <- @steps do %>
      <li class={"step #{if is_active?(step, @step), do: "step-success"}"}><%= step.title %></li>
    <% end %>
  </ul>

  <.live_component module={@component} id="step-component" account={@current_account} />
</section>
