<h2 class="aligncenter">
  Login with magic link
</h2>

<p>Please use the following link to sign in"</p>

<p class="aligncenter">
  <.link href={@url} class="btn-primary">Click to login</.link>
</p>

<p>You can disregard this email if you didn't request a password reset.</p>
