<%= assigns[:title] %> ================================
<%= @inner_content %> ================================
Copyright <%= DateTime.utc_now().year %> AnotherTest. All rights reserved.
AnotherTest LLC
26955 Fritsch Bridge
54933-7180 San Fransisco
