<.admin_page_heading title="Developer">
  <:link><.link navigate={~p"/admin"}>Dashboard</.link></:link>
  <:link><.link navigate={~p"/admin/developers"}>Developer</.link></:link>
</.admin_page_heading>

<.card shadow border>
  <div class="prose">
    <h3>Developer Page</h3>
  </div>
  Links:<br>
  <i>Add links here to developer routes like LiveDashboard or Fun with Flags Dashboard</i>
</.card>
